nav {
  height: auto;
  background: #ccc;
  padding: 10px;
}
nav button {
  background-color: #4CAF50;
  margin-right: 3px;
  border: none;
  color: white;
  text-align: center;
  font-size: 10px;
}

#grid {
  font-size: 100px
}
.mybooklist {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 250px;
  padding: 10px 0;
}
.left {
  grid-area: auto / 1 / auto / auto;
  text-align: center;
}
.left img {
  height: 250px;
}
.right {
  grid-area: auto / 2 / auto / auto;
  align-self: center;
}